extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let vid = toShow._id
    - let vnumber = toShow.vehiclenumber
    - let nop = toShow.numberofpassengers
    - let amount = toShow.amount
    - let actionid = "/resource/olavehicles/" + vid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='costumeAttr mr-3') Vehicle ID is:
        div #{vid}
      div.row
        div(class='costumeAttr mr-3') olavehicle number is:
        div #{vnumber}
      div.row
        div(class='costumeAttr mr-3') No of Passengers are:
        div #{nop}
      div.row
        div(class='costumeAttr mr-3') Ola vehicle Cost is:
        div #{amount}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/olavehicles'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/olavehicles'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }